{% extends 'whats_for_dinner/base.html' %}
{% load staticfiles %}
{% block body_block %}
<br>
    <div>
        <p style = "font-size:22px;font-style:Bold; "align = "center";>About our app </p>
		<p align = "center";>Have you ever had a bad day where you could not decide what food you want to eat? Or do you simply want to adventure with 
		different/random dishes?</p>
		<p align = "center";>Regardless of your reason, now you have the opportunity to do that while leaving the burden of decision to us.</p>
        <p align = "center";><Strong> “What’s For Dinner”</Strong>
        <b> is a food selection site for those who can’t decide what they want to eat.</b></p>
        <br>
        <br>
        <p style = "font-size:22px;font-style:Bold"; align = "center";>Work By <br>
        Yash Chakrabarti(2353911C)<br>
        Tianyu Cui(2397867C)<br>
        Jayant Raj (2354269R)<br>
        Mingchen Sun (2397828S)</p>
    </div>
{% endblock %}