{% extends 'whats_for_dinner/base.html' %}
{% load staticfiles %}
{% block body_block %}
    <div>
        <p style = "font-size:22px;font-style:Bold; ">About our app </p>
        <Strong> “What’s For Dinner”</Strong>
        <b> is a food selection site for those who can’t decide what they want to eat.</b>
        <br>
        <br>
        <p style = "font-size:22px;font-style:Bold; ">Work By <br>
        Yash Chakrabarti(2353911C)<br>
        Tianyu Cui(2397867C)<br>
        Jayant Raj (2354269R)<br>
        Mingchen Sun (2397828S)</p>
    </div>
{% endblock %}