<!DOCTYPE html>
{% load staticfiles %}
{% load template_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What's for Dinner</title>
</head>
<body>
  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'index'%}">What's For Dinner</a>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">

		<li class="nav-item">
          <a class="nav-link" href="{%url 'about'%}">About</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="{%url 'index'%}">Index</a>
        </li>
        {%if user.is_authenticated%}
        <li class="nav-item">
          <a class="nav-link" href="{%url 'favourites'%}">My Favourites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'logout'%}">Logout</a>
        </li>
        {%else%}
        <li class="nav-item">
          <a class="nav-link" href="{%url 'login'%}">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'register'%}">Sign Up</a>
        </li>
        {%endif%}
      </ul>
    </div>
    <div>
        Hi
        {% if user.is_authenticated %}
            {{ user.username }}!
        {% else %}
            Guest
        {% endif %}
    </div>
    {% block body_block %}
    {% endblock %}
</body>
</html>