{% extends 'whats_for_dinner/base.html' %}
{% load staticfiles %}
{% block body_block %}

<link rel = "stylesheet" type = "text/css" href = "{% static 'CSS/home.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<body>
<br>
    <div style="width:100%;text-align:center;" class = "relative">
            <img src="{% static 'images/Whats-for-Dinner.jpg' %}" alt="Logo" />


    <div class="container">
        <form id="result_form" method="post" action="{% url 'result' %}">
            {% csrf_token %}
            <div class = "fixed">
                Postcode:<br>
                <input type="text" name="postcode" style="width: 100px" required>
            </div>
            <div class = "price">
                Price:<br>
                <div class ="left">
                <input type="checkbox" name="price_low" value="low" checked> £<br>
                <input type="checkbox" name="price_mid" value="mid" checked> ££<br>
                <input type="checkbox" name="price_high" value="high" checked> £££<br>
                </div>
            </div>
            <div class = "diet left">
                Diet:<br>
                <input type="checkbox" name="vegetarian" value="vegetarian" checked> Vegetarian<br>
                <input type="checkbox" name="non_vegetarian" value="non_vegetarian" checked> Non-vegetarian<br>
            </div>

            <div class = "range left">
                Range:<br>
                <input type="radio" name="range" value="all" checked> All foods<br>
                {% if user.is_authenticated %}
                <input type="radio" name="range" value="favourites"> My favourites<br>
                {% else %}
                <input type="radio" name="range" value="favourites" disabled> My favourites<br>
                {% endif %}
            </div>

            <div class = "what">

                <button class="btn btn-primary btn-danger" type="submit"
                    value="Submit" />What's for dinner?</button>
            </div>
        </form>
    </div>
    </div>
</body>
{% endblock %}