{% extends 'whats_for_dinner/base.html' %}
{% load staticfiles %}
<link rel = "stylesheet" type = "text/css" href = "{% static 'CSS/home.css' %}" />
{% block body_block %}

<br>
    <div>
        <form id="modify_by_postcode_form" method="post" action="{% url 'modify' %}">
            {% csrf_token %}
            Postcode:<br>
            {% if postcode %}
                <input type="text" name="postcode" value="{{postcode}}" required>
            {% else %}
                <input type="text" name="postcode" required>
            {% endif %}
            <button class="btn btn-primary btn-danger" type="submit" name="submit"
            />Food nearby</button>
            <br>
        </form>
    </div>
    {% if foods %}
    <div>
        <form id="modify_foods_form" method="post" action="{% url 'modify' %}">
            {% csrf_token %}
            <ul>
            {% for food in foods %}
                <li>
                {% if food in favourites %}
                    <input type="checkbox" name={{food}} value={{food}} checked>
                {% else %}
                    <input type="checkbox" name={{food}} value={{food}}>
                {% endif %}
                {{food.restaurant}}: {{food.name}} £{{food.price}}
                {% if food.vegetarian %}
                    vegetarian
                {% endif %}<br>
                </li>
            {% endfor %}
            </ul>
            <button class="btn btn-primary btn-danger" type="submit" name="submit"
            />Update favourites</button>
            <br>
        </form>
    </div>
    {% endif %}

{% endblock %}